
section {
    
    width: 100%;
    padding: 60px 0 40px 0;
}

section h1, section h2 {
    font-size: 38px;
}

.mainS {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-items: center;
    background-image: url(../img/homenew-lamtna.svg); /* pc*/
    background-repeat: no-repeat;
    background-size:cover;
}

.mainS h1 {
    color: #FF6462;
    
}

.mainS p {
    max-width: 400px;
}

.mainS p , .pcS p , .phoneS p{
    font-size: 22px;
    color: #145075;
}

.mainS a {
    padding: 8px 55px;
    margin: -20px 0 0 300px ;
    background-color:  #FF6462;
    color: white;
    font-size: 22px;
    border-radius: 15px;
}

.pcS ,.phoneS  {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: right;
    background-color: F7FDFD;

}

.S-items {
    display: flex;
    column-gap: 8%;
}

.pcS a , .phoneS a {
    background-color: #0772B3;
    color: white;
    padding: 12px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    font-size: 24px;
}

.phoneS {
    background-color: #F4F8F7;
}

.phoneS .S-items {
    column-gap: 30%;
}

.phoneS .first {
    margin-bottom: 10px;
}

.phoneS .second {
    background-color: unset;
    border: 3px solid #0772B3 ;
    color: #0772B3;
}

.videos h2 , .pcS h2 , .phoneS h2 , .names h2 {
    color: #2EBEDD;
}

.videos , .names {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #E3F6FF;
}

.names {
    background-color: #F4F8F7;
}


#footer {
    margin: 0;
    background-color: #2EBEDD;
}



#scroll-container {
    /*border: 1px solid #eee;*/
    border-radius: 3px;
    overflow: hidden;
    color: #0772B3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #E5FFFF;
    font-family: sans-serif , cairo ;
    font-size: 20px;
    padding: 8px;

}
  
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
}
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
}
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(1-00%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  .whats-btn  {
    width: 85px;
    height: 85px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

.soon {
    width: 100%;
    height: 500px;
    background-image: url(../img/soonA.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #DEEFEE;
}

.slides2 {
    background-color: #E5FFFF;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.slides1 {
    width: 80%;

}

.support {
    background-color: #E5FFFF;
}


/*midea----------------------------------*/

@media (max-width: 1187px){
    .fixbody {
        max-width:776px ;
    }
    .phoneS span {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {

    .fixbody {
        min-width: 90%;
    }

    .S-items img {
        max-width: 400px;
    }

    .S-items {
        width: 90%;
    }

    .mainS {
        background-image: url(../img/homeSnew-lametnaS.svg); /* S */
    }

    .mainS p {
        max-width: 310px;
    }
}


@media (max-width: 807px) {
    section h1, section h2 {
        font-size: 20px;
    }

    section a, section p {
        font-size: 14px;
    }

    .S-items {
        flex-direction: column;
        row-gap: 25px;
    }
    
    .S-items img {
        max-width: unset;
   }

   .mainS {
    background-image: url(../img/homeXS\ 2new-lametnaXS.svg); /* xs*/
   }

   .mainS p {
    max-width: 290px;
   }

   iframe {
    max-width: 90%;
   }

   .soon {
    height: 300px;
   }

   .slides1 {
    width: 117%;
    overflow: hidden;
    }

    .root-btn {
        max-width: 65%;
    }
}

@media (max-width: 600px) {

    .mainS {
        background-image: url(../img/homeXXS\ 2new-lametnaXXS.svg); /* xxs*/
    }

    .mainSitems p , .mainSitems h1{
        text-align: right;
    }
    .mainS a {
        padding: 3px 20;
        margin: -20px 0 0 -20px ;

    }

    .videos {
        background-color: #E3F6FF;
    }
    
    .mainS a , .pcS a , .phoneS a {
            font-size: 14px;
    }

    .mainS a img , .pcS a img , .phoneS a img {
        width: 20px;
        height: 20px;
    }

    #footer li {
        text-align: center;
        font-size: 24px;
    }

    #footer .nolink {
        font-size: 22px;
    }

    #footer .menu a  {
        font-size: 20px;
    }

    #scroll-container {
        border: 1px solid #eee;
        border-radius: 3px;
        overflow: hidden;
        color: #0772B3;
    }

    .soon {
        height: 200px;
    }

    #scroll-container {
        font-size: 16px;
     }

    .root-btn {
        margin-top: -50px;
    }

}



